{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Deep Learning for Side-Channel Analysis</h1>
    <p>This web app implements a full framework for applying deep learning to side-channel analysis (SCA). In this
        documentation, we provide all the guidelines to execute the framework.</p>
    <p>This framework was used to produce the results of the following papers:</p>
    <ul>
        <li>
            <a href="https://eprint.iacr.org/2019/978.pdf" target="_blank">Deep Learning Model Generalization in
                Side-Channel Analysis
            </a>
        </li>
        <li>
            <a href="https://eprint.iacr.org/2020/058.pdf" target="_blank">Learning when to stop: a mutual information
                approach to fight overfitting in profiled side-channel analysis
            </a>
        </li>
    </ul>

    <hr class="sidebar-divider">

    <h2>The script</h2>
    <p>The framework implements a basic script with the following structure:</p>
    <ul>
        <li>Open datasets (trace sets from different targets);</li>
        <li>Define the leakage model for the selected dataset;</li>
        <li>Create intermediates for all key hypothesis in order to further analyse key rank, guessing entropy or
            success rate;
        </li>
        <li>Define the <b>Keras</b> model (neural network structure);</li>
        <li>Traning and callbacks;</li>
        <li>Retrieve metrics such as accuracy, recall, loss and side-channel metrics (key rank, guessing entropy or
            success rate);
        </li>
        <li>Save results and training information in a <b>sqlite</b> database;</li>
        <li>Plot results.</li>
    </ul>
    <p>Advanced options can be add to the basic script, including:</p>
    <ul>
        <li>Attack multiple key bytes;</li>
        <li>Use data augmentation;</li>
        <li>Hyper-parameter optimization/search;</li>
        <li>Compute guessing entropy and success rate;</li>
        <li>Add specific metrics or callbacks(e.g., mutual information)</li>
        <li>Train with early stopping based on specific metrics (accuracy, loss, mutual information, etc.)</li>
        <li>Compute ensembles from multiple trained models</li>
    </ul>

    <p>An example of the basic script to attack a single key byte on a DPAv4 AES implementation is given below:</p>
    <div class="col-lg-10">
        <pre>
    <code class="language-python">
from deep_learning_models.deeplearning import DeepLearningModel
from commons.sca_dl import ScaDl
from commons.sca_plots import Plots

sca_dl = ScaDl()

#  define target
sca_dl.target("dpa_v4")

#  define leakage model
sca_dl.aes_leakage_model(leakage_model="HW", state_output="SubBytesOut", byte=0)

#  define model
sca_dl.keras_model(DeepLearningModel().basic_mlp_dpav4)

#  train/validate and test
history, key_rank = sca_dl.train()

#  plots
Plots().plot_train(history, key_rank)
    </code>
    </pre>
    </div>

    <hr class="sidebar-divider">

    <h2>Training Options</h2>

    <h4>Early Stopping</h4>
    <p>Early stopping is a machine learning regularization technique to stop training (or return the trained model)
        after reaching a certain amount of epochs or iterations. Usually, the training stops as soon as the model
        achieves a threshold with respect to validation loss or accuracy. In our framework, early stopping models are
        provided for four different metrics:</p>
    <ul>
        <li>Validation accuracy</li>
        <li>Validation recall</li>
        <li>Validation loss</li>
        <li>Validation MI(T,y_val) (mutual information between validation labels and output layer <span
                style="font-style: italic">softmax</span> probabilities. Click <a href="#">here</a> to know more about
            this metric)
        </li>
    </ul>

    <h4>Data Augmentation</h4>
    <h4>Ensembles</h4>

    <hr class="sidebar-divider">

    <h2>Callbacks</h2>
    <h4>Adding custom callbacks</h4>
    <p>The user can easily add new callbacks to the training process by calling the method <span
            style="font-style: italic">add_callback</span>. <b>The only requirement to follow is to set in the callback
        function the method <span style="font-style: italic">get_results</span></b>.</p>

    <h4>Reading callback results</h4>
    <p>The user can easily add new callbacks to the training process by calling the method <span
            style="font-style: italic">add_callback</span>.</p>

{% endblock %}